body{
	background-color: #d4ffdd;
    font-family: 'Lato', sans-serif;
	position: center center fixed;
	margin: 0 auto;
}

.all_div_container{
	display: block;
	height: 1100px;
}


.title_bar{
	display: inline-block;
	width: 100%;
	height: 17%;
	margin-top: -8.8%;
	position: absolute;

}
	.alles_img{
		height: 87%;		
		width: 17.3%;
		margin-left: 2%;
		margin-top: 0.6%;
		position: relative;
		z-index: 5;

	}


	.second_half{
	
		height: 100%;
		width: 60%;
		margin-left: 40%;
		margin-top: -7.5%;
		position: relative;
		z-index: 6;
	}

		.d_image{
			display: inline-block;
			height: 22%;
			width: 15%;
			margin-top: 8%;
			margin-left: 53%;
			position: relative;
			z-index: 3;
		}


		.h_image{
			display: block;
			height: 25%;
			width: 7%;
			margin-left: 73.2%;
			margin-top: -3.2%;
			position: relative;
			z-index: 4;
		}

		.a_image{
			display: block;
			height: 22%;
			width: 10%;
			margin-left: 84.8%;
			margin-top: -3.3%;
			position: relative;
			z-index: 5;
		}

.divider{
	background-color: #e7ffec;
	height: 10.7%;
	width: 100%;
	margin-top: 10.5%;
	position: relative;
	z-index: 6;

}

.d_image2{
	margin-left: 72%;
	height: 70%;
	width: 25%;
	margin-top: 2.5%;
}


.teil_1{
	background-color: #ccfdd6;
	height: 70%;
	width: 100%;
	position: absolute;
	margin-top: 5%;

}

	.pic_box{
	
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 2;
	}

	.python_install{
		height: 80%;
		width: 82%;
		padding: 8%;
	}


	.text_box{

		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
	}

	.py_instr{
		margin-top: 10%;
	}


.teil_2{
	background-color: #ccfdd6;
	height: 65%;
	width: 100%;
	position: absolute;
	margin-top: 42%;

}


	.pic_box2{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 3;
	}

	.text_box2{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
	}

	.setuppic{
		height: 74%;
		width: 45%;
		margin-left: 9%;
		margin-top: 8%;
		position: relative;
		z-index: 4;
	}

	.setupLOGO{
		height: 44%;
		width: 30%;
		margin-right: 10%;
		margin-top: 17%;
		float: right;
		position: relative;
		z-index: 4;
	}

	.alles_setup{
		padding: 7%;
	}




.teil_3{
	background-color: #ccfdd6;
	height: 40%;
	width: 100%;
	position: absolute;
	margin-top: 76%;
}

	.pic_box3{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 3;
	}

	.pin_it{
		padding: 9%;
		height: 65%;
		width: 83%;
	}


	.text_box3{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
		
	}

	.note{
		padding: 9%;
	}


/*----------------------------------------MEDIA QUERIES---------------------------------*/


@media only screen and (max-width: 1279px){
	.title_bar{
	display: inline-block;
	width: 100%;
	height: 17%;
	margin-top: -8.8%;
	position: absolute;

}
	.alles_img{
		height: 62%;		
		width: 17.3%;
		margin-left: 2%;
		margin-top: 0.6%;
		position: relative;
		z-index: 5;

	}


	.second_half{
	
		height: 49%;
		width: 60%;
		margin-left: 40%;
		margin-top: -5.5%;
		position: relative;
		z-index: 6;
	}

		.d_image{
			display: inline-block;
			height: 33%;
			width: 14%;
			margin-top: 5.2%;
			margin-left: 60.5%;
			position: relative;
			z-index: 3;
		}


		.h_image{
			display: inline-block;
			height: 34%;
			width: 6.1%;
			margin-left: 2.6%;
			position: relative;
			z-index: 3;
		}

		.a_image{
			display: inline-block;
			height: 33%;
			width: 8.2%;
			margin-left: 2%;
			position: relative;
			z-index: 3;
		}

.divider{
	background-color: #e7ffec;
	height: 8.7%;
	width: 100%;
	margin-top: 10.5%;
	position: relative;
	z-index: 6;

}

.d_image2{
	margin-left: 72%;
	height: 70%;
	width: 25%;
	margin-top: 3.5%;
}


.teil_1{
	background-color: #ccfdd6;
	height: 70%;
	width: 100%;
	position: absolute;
	margin-top: 5%;

}

	.pic_box{
	
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 2;
	}

	.python_install{
		height: 52%;
		width: 82%;
		padding: 8%;
	}


	.text_box{

		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
	}

	.py_instr{
		margin-top: 10%;
	}


.teil_2{
	background-color: #ccfdd6;
	height: 65%;
	width: 100%;
	position: absolute;
	margin-top: 42%;

}


	.pic_box2{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 3;
	}

	.text_box2{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
	}

	.setuppic{
		height: 44%;
		width: 40%;
		margin-left: 9%;
		margin-top: 8%;
		position: relative;
		z-index: 4;
	}

	.setupLOGO{
		height: 29%;
		width: 30%;
		margin-right: 10%;
		margin-top: 17%;
		float: right;
		position: relative;
		z-index: 4;
	}

	.alles_setup{
		padding: 7%;
	}




.teil_3{
	background-color: #ccfdd6;
	height: 40%;
	width: 100%;
	position: absolute;
	margin-top: 76%;
}

	.pic_box3{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 3;
	}

	.pin_it{
		padding: 9%;
		height: 45%;
		width: 78%;
	}


	.text_box3{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
		
	}

	.note{
		padding: 9%;
	}


}

/*----------------------------------------------MEDIA QUERIES--------------------------------*/
@media only screen
and (min-width: 1280px)
and (max-device-width:1365px){

	.title_bar{
	display: inline-block;
	width: 100%;
	height: 17%;
	margin-top: -8.8%;
	position: absolute;

}
	.alles_img{
		height: 69%;		
		width: 17.3%;
		margin-left: 2%;
		margin-top: 0.6%;
		position: relative;
		z-index: 5;

	}

	.second_half{
		height: 53%;
		width: 60%;
		margin-left: 40%;
		margin-top: -5.2%;
		position: relative;
		z-index: 6;
	}

		.d_image{
			display: inline-block;
			height: 33%;
			width: 14%;
			margin-top: 5.2%;
			margin-left: 60.5%;
			position: relative;
			z-index: 3;
		}


		.h_image{
			display: inline-block;
			height: 34%;
			width: 6.1%;
			margin-left: 2.6%;
			position: relative;
			z-index: 3;
		}

		.a_image{
			display: inline-block;
			height: 33%;
			width: 8.2%;
			margin-left: 2%;
			position: relative;
			z-index: 3;
		}

.divider{
	background-color: #e7ffec;
	height: 10.7%;
	width: 100%;
	margin-top: 10.5%;
	position: relative;
	z-index: 6;

}

.d_image2{
	margin-left: 72%;
	height: 70%;
	width: 25%;
	margin-top: 3.5%;
}


.teil_1{
	background-color: #ccfdd6;
	height: 70%;
	width: 100%;
	position: absolute;
	margin-top: 5%;

}

	.pic_box{
	
		height: 80%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 2;
	}

	.python_install{
		height: 80%;
		width: 82%;
		padding: 8%;
	}


	.text_box{

		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
	}

	.py_instr{
		margin-top: 10%;
	}


.teil_2{
	background-color: #ccfdd6;
	height: 65%;
	width: 100%;
	position: absolute;
	margin-top: 42%;

}


	.pic_box2{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 3;
	}

	.text_box2{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
	}

	.setuppic{
		height: 60%;
		width: 45%;
		margin-left: 9%;
		margin-top: 8%;
		position: relative;
		z-index: 4;
	}

	.setupLOGO{
		height: 34%;
		width: 30%;
		margin-right: 10%;
		margin-top: 17%;
		float: right;
		position: relative;
		z-index: 4;
	}

	.alles_setup{
		padding: 7%;
	}




.teil_3{
	background-color: #ccfdd6;
	height: 40%;
	width: 100%;
	position: absolute;
	margin-top: 76%;
}

	.pic_box3{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 3;
	}

	.pin_it{
		padding: 9%;
		height: 57%;
		width: 83%;
	}


	.text_box3{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
		
	}

	.note{
		padding: 9%;
	}


	}

@media only screen
and (min-width: 1366px)
and (max-device-width:1920px){.title_bar{
	display: inline-block;
	width: 100%;
	height: 17%;
	margin-top: -8.8%;
	position: absolute;

}
		.alles_img{
		height: 79%;		
		width: 17.3%;
		margin-left: 2%;
		margin-top: 0.6%;
		position: relative;
		z-index: 5;

	}


	.second_half{
		height: 60%;
		width: 60%;
		margin-left: 40%;
		margin-top: -5.1%;
		position: relative;
		z-index: 6;
	}

		.d_image{
			display: inline-block;
			height: 33%;
			width: 13.1%;
			margin-top: 5.2%;
			margin-left: 60.5%;
			position: relative;
			z-index: 3;
		}


		.h_image{
			display: inline-block;
			height: 34%;
			width: 6.1%;
			margin-left: 2.6%;
			position: relative;
			z-index: 3;
		}

		.a_image{
			display: inline-block;
			height: 33%;
			width: 8.2%;
			margin-left: 2%;
			position: relative;
			z-index: 3;
		}

.divider{
	background-color: #e7ffec;
	height: 10.7%;
	width: 100%;
	margin-top: 10.5%;
	position: relative;
	z-index: 6;

}

.d_image2{
	margin-left: 71%;
	height: 70%;
	width: 25%;
	margin-top: 2.9%;
}


.teil_1{
	background-color: #ccfdd6;
	height: 70%;
	width: 100%;
	position: absolute;
	margin-top: 5%;

}

	.pic_box{
	
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 2;
	}

	.python_install{
		height: 67%;
		width: 82%;
		padding: 8%;
	}


	.text_box{

		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
	}

	.py_instr{
		margin-top: 10%;
	}


.teil_2{
	background-color: #ccfdd6;
	height: 65%;
	width: 100%;
	position: absolute;
	margin-top: 42%;

}


	.pic_box2{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 3;
	}

	.text_box2{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
	}

	.setuppic{
		height: 62%;
		width: 45%;
		margin-left: 9%;
		margin-top: 8%;
		position: relative;
		z-index: 4;
	}

	.setupLOGO{
		height: 38%;
		width: 30%;
		margin-right: 10%;
		margin-top: 17%;
		float: right;
		position: relative;
		z-index: 4;
	}

	.alles_setup{
		padding: 7%;
	}




.teil_3{
	background-color: #ccfdd6;
	height: 40%;
	width: 100%;
	position: absolute;
	margin-top: 76%;
}

	.pic_box3{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 3;
	}

	.pin_it{
		padding: 9%;
		height: 60%;
		width: 83%;
	}


	.text_box3{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
		
	}

	.note{
		padding: 9%;
	}


}




@media only screen
and (min-width: 1920px)
and (max-device-width:3000px){
	.title_bar{
	display: inline-block;
	width: 100%;
	height: 17%;
	margin-top: -8.8%;
	position: absolute;

}
	.alles_img{
		height: 82%;		
		width: 17.3%;
		margin-left: 2%;
		margin-top: 0.6%;
		position: relative;
		z-index: 5;

	}


	.second_half{
		height: 60%;
		width: 60%;
		margin-left: 40%;
		margin-top: -5.1%;
		position: relative;
		z-index: 6;
	}

		.d_image{
			display: inline-block;
			height: 33%;
			width: 13.1%;
			margin-top: 5.2%;
			margin-left: 60.5%;
			position: relative;
			z-index: 3;
		}


		.h_image{
			display: inline-block;
			height: 34%;
			width: 6.1%;
			margin-left: 2.6%;
			position: relative;
			z-index: 3;
		}

		.a_image{
			display: inline-block;
			height: 33%;
			width: 8.2%;
			margin-left: 2%;
			position: relative;
			z-index: 3;
		}
.divider{
	background-color: #e7ffec;
	height: 13.7%;
	width: 100%;
	margin-top: 10.5%;
	position: relative;
	z-index: 6;

}

.d_image2{
	margin-left: 72%;
	height: 70%;
	width: 25%;
	margin-top: 2.5%;
}


.teil_1{
	background-color: #ccfdd6;
	height: 70%;
	width: 100%;
	position: absolute;
	margin-top: 5%;

}

	.pic_box{
	
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 2;
	}

	.python_install{
		height: 66%;
		width: 77%;
		padding: 8%;
	}


	.text_box{

		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
	}

	.py_instr{
		margin-top: 10%;
	}


.teil_2{
	background-color: #ccfdd6;
	height: 65%;
	width: 100%;
	position: absolute;
	margin-top: 42%;

}


	.pic_box2{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 3;
	}

	.text_box2{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
	}

	.setuppic{
		height: 67%;
		width: 42%;
		margin-left: 9%;
		margin-top: 8%;
		position: relative;
		z-index: 4;
	}

	.setupLOGO{
		height: 40%;
		width: 30%;
		margin-right: 10%;
		margin-top: 17%;
		float: right;
		position: relative;
		z-index: 4;
	}

	.alles_setup{
		padding: 7%;
	}




.teil_3{
	background-color: #ccfdd6;
	height: 40%;
	width: 100%;
	position: absolute;
	margin-top: 76.8%;
}

	.pic_box3{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: left;
		position: relative;
		z-index: 3;
	}

	.pin_it{
		padding: 9%;
		height: 60%;
		width: 74%;
	}


	.text_box3{
		height: 100%;
		width: 50%;
		margin-top: 0%;
		float: right;
		position: relative;
		z-index: 2;
		
	}

	.note{
		padding: 9%;
	}



}